*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "Quicksand", sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E87630;
    width: 100%;
    height: 6vh;
    font-family:  "Raleway", sans-serif;
    font-optical-sizing: auto;;
    color: white;
    font-size: 14px;
}
.one{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    width: 18.5%;
    font-size: 17px;
}
.parent{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.imga{
    width: 9%;  
}
.img{
    width: 10%;
    height: 45px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.menu1{
    width: 5%;
}
.menu{
    width: 46%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 15px;
    font-family:  "Raleway", sans-serif;
    font-optical-sizing: auto;;
    font-weight: 500;
    color: #373736;   
}
.menu li{
    width: 100%;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.icon{
    width:25%;
    height: 15vh;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 20px;
    font-size:20px;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:#F2F3F3;
}
.bc{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #393938;
    gap: 20px;
    background-image: url(https://fusta-demo.myshopify.com/cdn/shop/files/breadcrumb-bg.jpg?v=1537511178);
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 18px;
}
.bc1{
    list-style: none;
    display: flex;
    justify-content: center;
    color: #393938;
    gap: 20px;
}
.bc1 li a{
    text-decoration: none;
}
.bc2{
    color: chocolate;
}
.bc3{
    color:  #393938;
}
.pat{
    margin: 0 auto;
    width: 85%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.pat1{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.pat2{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pat2 img{
    width: 95%;
    height: 80%;
}
.pat3{
    margin: 6%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.pt1{
    color: #E87630;
    width: 100%;
    display: flex;
    font-size: 20px;
}
.pt2{
    color: black;
}
.pt5{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #454544;
    gap: 20px;
}
.pt6{
    font-size: 18px;
}
.box{
    width: 50px;
    height: 30px;
}
.bttn{
    width: 20%;
    height: 6vh;
    background-color: #E87630;
    border: none;
    color: white;
    font-size: 14px;
}
.ib{
    width: 100%;
    height: 6vh;
    display: flex;
    gap: 5px;
}
.ibb{
    width: 10%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 127, 120);
}
.icn{
    width: 30%;
    height: 65%;
    display: flex;
    justify-content:center;
    align-items: center;

}
.icn1{
    width: 80%;
    height:1vh;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
}
.icn2{
    height: 4vh;
    display: flex;
    flex-direction: 20px;
    font-size: 18px;
}
.pp{
    height: 100%;
    font-size: 22px;
}
.immgg{
    width: 100%;
    height: 25%;
    display: flex;
    gap: 10px;
}
.immgg1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.immgg1 img{
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
}
.ig{
    width: 100%;
    height: 35vh;
    position:relative;
}
.h1{
    width: 30%;
    height: 4vh;
    top: 1%;
    left: 3%;
    position:absolute;
    border: none;
    background-color: #fafaf3;
}
.h2{
    width: 30%;
    height: 4vh;
    top:14%;
    left: 3%;
    position:absolute;
    border: none;
    background-color: #fafaf3;
}
.h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.eet{
    margin: 0 auto;
    width: 80%;
    height: 35vh;
    display: flex;
    justify-content: center;
}
.eet1{
    width: 45%;
    height: 35vh;
}
.font{
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 55px;
    font-size: 25px;
    color: #545754;
}
.borderr{
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background-color: #d5d5ce;
}
.lom{
    margin: 0 auto;
    width: 80%;
    height: 75vh;
    font-size: 18px;
    color: #545754;
    display: flex;
    justify-content: center;align-items: center;
}
.lc{
    margin: 0 auto;
    width: 100%;
    height:60vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #F1F1F0;
    gap: 20px;
}
.lc1{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left:50px;
}
.lc2{
    width: 17%;
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.ls{
    font-weight:500;
    font-size: 22px;
}
.end{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E5E4;
    gap: 20px;
}
.end1{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
@media(max-width:1200px){
    .img{
        width: 25%;
    }
    .bc{
        width: 100%;
        height: 25vh;
        background-size: cover;
    }
    .pat{
        width: 90%;
        height: 70vh;
    }
    .pat1{
        width: 20%;
        height: 48vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pat1 img{
        width: 100%;
        height: 14%;
    }
    .pat2{
        width: 100%;
        height: 48vh;
    }
    .pat2 img{
        height: 70%;
    }
    .pat3{
        height: 45vh;
    }
    .bttn{
        width: 40%;
        height: 4vh;
    }
    .ibb{
        width: 25%;
        height: 4vh;
    }
    .icn{
        width: 70%;
    }
    .eet1{
        width: 1%;
    }
    .h1{
        width: 30%;
        height: 2.5vh;
    }
    .h2{
        width: 30%;
        height: 2.5vh;
        top: 10%;
        font-size: 15px;
    }
    .immgg1 {
        width: 100%;
        height: 40vh;
        gap: 20px;
    }
    .immgg1 img{
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
    .font{
        margin: 0 auto;
        width: 70%;
        height:15vh;
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    .borderr{
        height: 100%;
    }
    .lom{
        width: 80%;
        height: 65vh;
        font-weight: 400;
    }
    .lc{
        height: 25%;
    }
}
@media(max-width:600px){
    .menu{
        display: none;
    }
    .img{
        width: 35%;
        height: 5vh;
    }
    .icon{
        width: 50%;
    }
    .head{
        width: 100%;
        height:9vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        gap: 15px;
    }
    .one{
        width: 100%;
        height: 2vh;
    }
    .second{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pat{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .pat1{
        display: none;
    }
    .pat3{
        width: 100%;
        height: 100%;
    }
    .eet{
        width: 70%;
        height: 100%;
    }
    .font{
        width: 100%;
        height: 50vh;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }
    .lom{
        width: 80%;
        height: 100%;
        gap: 20px;
    }
    .immgg1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .h3{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 15px;
    }
    .h4{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 15px;
    }
    .immgg1 img{
        width: 100%;
        height: 90%;
    }
    .lc{
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ls{
        width: 100%;
        height: 4vh;
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }
    .lc1{
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
    }
    .lc2{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .end1{
        gap: 15px;
    }
}